
@tailwind base;
@tailwind components;
@tailwind utilities;

.cusImg {
  height: 39rem;
}

.card .card-button {
  position: absolute;
  top: 43%;
  box-shadow: none;
  border-radius: 5px;
  width: 36px;
  height: 36px;
  background-color: transparent;
}
.card .card-button.right {
  right: 0%;
}
.react-stacked-center-carousel {
  padding: 20px 0;
  overflow: visible !important;
}

.card-card {
  transition: all 300ms ease;
  cursor: pointer;
  width: 100%;
  height:300px;
  border-radius: 15px;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.05);
}

.card-card:hover {
  transform: scale(1.05);
}

.react-stacked-center-carousel-slide-0 .card-card {
  cursor: default;
}

.react-stacked-center-carousel-slide-0 .card-card:hover {
  transform: none;
}

.fill {
  width: 100%;
  height: 100%;
}

.card-card .card-overlay {
  user-select: none;
  position: absolute;
  background-color: #00000099;
  transition: all 300ms ease;
  border-radius: 15px;
}

.card-card:hover .card-overlay {
  background-color: #0000002d;
}

.react-stacked-center-carousel-slide-0 .card-overlay {
  background-color: #00000099 !important;
}

.card-card .cover-image {
  object-fit: cover;
}

.card-card .cover {
  position: absolute;
  transition: opacity 300ms ease;
}
.react-stacked-center-carousel-slide-0 .card-card .cover {
  transition: opacity 300ms ease, z-index 0ms 300ms;
}

.card-card .cover.on {
  opacity: 1;
  z-index: 1;
}

.card-card .cover.off {
  opacity: 0;
  z-index: -1;
}

.card-card .detail {
  display: flex;
}
.card-card .video {
  width: 20%;
}
.card-card .discription {
  display: flex;
  flex-direction: row;
  margin: 25px;
}
/* @layer components {
  .btn {
    @apply px-4 py-2 text-purple-500 transition duration-300 bg-white border border-purple-500 rounded-full hover:bg-purple-500 hover:text-white;
  }
} */
@layer components {
  .btn {
    @apply px-24 py-2 font-sans text-purple-500 transition duration-300 bg-white border border-purple-500 rounded-full ;
  }
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
